<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeek.mapper.UserMapper">

	<resultMap id="userMap" type="com.zeek.po.User">
		<id column="id" property="id"/>
		<result column="username" property="username"/>
		<result column="birthday" property="birthday"/>
		<result column="sex" property="sex"/>
		<result column="address" property="address" />
	</resultMap>

	<select id="bindTest" parameterType="java.lang.String" resultMap="userMap">
		<bind name="pattern" value="'%' + _parameter.getUsername() + '%'" />
		SELECT id, username
		FROM user
		WHERE username LIKE #{pattern}

	</select>

	<insert id="insertUser" parameterType="com.zeek.po.User">
		insert into user(
		username, sex) values(#{username}, #{sex})
	</insert>

	<select id="getUser" parameterType="String" resultMap="userMap">
		select id, username, sex, address
		from user where id = #{id}
	</select>

	<select id="listUser" parameterType="com.zeek.po.User" resultMap="userMap">
		SELECT id, username, sex
		FROM user
		<where>
			<choose>
				<when test="username != null">
					username = #{username}
				</when>
				<when test="address != null">
					address like #{address}
				</when>
			</choose>
		</where>
	</select>

	<select id="practiceWhere" resultMap="userMap">
		SELECT id, username, sex
		FROM user
		<where>
			<if test="username != null">
				and username = #{username}
			</if>
			<if test="address != null">
				and address = #{address}
			</if>
		</where>
	</select>

	<select id="practiceTrim" resultMap="userMap">
		SELECT id, username, birthday, sex, address
		FROM user
		<trim prefix="where" prefixOverrides="and">
			<if test="username != null">
				and username = #{username}
			</if>
			<if test="address != null">
				and address = #{address}
			</if>
		</trim>
	</select>

	<select id="listAll" resultMap="userMap">
		SELECT id, username, birthday, sex, address
		FROM user
	</select>

</mapper>